body {
  font-family: 'Fact';
  font-weight: 300;
  overflow-x: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* .text {
  text-transform: uppercase;
  background: linear-gradient(98.27deg, #21e7d6 0%, #009e91 105.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  font-weight: 900;
  font-size: 58px;
  line-height: 1.25;
} */

.gray-gradient {
  text-transform: uppercase;
  background: linear-gradient(98.27deg, #ffffff 0%, #000000 105.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.subtitle {
  text-transform: uppercase;
  background: linear-gradient(98.27deg, #21e7d6 0%, #000000 105.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.06;
}

/* @media (max-width: 992px) {
  .text {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .text {
    font-size: 40px;
  }
}
@media (max-width: 556px) {
  .text {
    font-size: 32px;
  }
} */
